<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/addroom.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body class="bg-image">
    
    <div class="h">
        <center class="h">
        <h3 >Welcome To Hotel Antilia</h3>
        <p class="p">Come in as guests Leave as family</p></center>
    
        <nav class="navbar navbar-expand-lg" id="nm" >
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
              <a class="navbar-brand" href="/index/" id="li">Hotel Antilia -></a>
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                  <a class="navbar-brand" href="/index/" id="l1">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="navbar-brand" href="/room/" id="l1">Add Room </a>
                </li>
                <li class="nav-item dropdown" >
                  <a class="navbar-brand"  href='#'  id="l1"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Display
                  </a>
                  <div class="dropdown-menu"   aria-labelledby="navbarDropdown">
                    <a class="dropdown-item"   href="/display/">User</a>
                    <a class="dropdown-item"   href="/roomdisplay/">Room </a>
                    
                </li>
                <li class="nav-item dropdown" >
                  <a class="navbar-brand"  href='#'  id="l1"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Update
                  </a>
                  <div class="dropdown-menu"   aria-labelledby="navbarDropdown">
                    <a class="dropdown-item"   href="/user_update/">User</a>
                    <a class="dropdown-item"   href="/room_update/">Room </a>
                    
                </li>  
                <li class="nav-item dropdown" >
                  <a class="navbar-brand"  href='#'  id="l1"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Delete
                  </a>
                  <div class="dropdown-menu"   aria-labelledby="navbarDropdown">
                    <a class="dropdown-item"   href="/user_delete/">User</a>
                    <a class="dropdown-item"   href="/delroom/">Room </a>
                    
                </li>
                
              </ul>
              
            </div>
          </nav>
    </div>
    <br>
    <br>
    <div class="jum">

      <div class="jumbotron" id="m">
        <h4 class="h">Update Room Number {{data.roomnumber}} details</h4>  
         <form action="" method="post">{%csrf_token%}
            <div class="form-group">
                <label for="formGroupExampleInput">Room Number</label>
                <input type="text" value="{{data.roomnumber}}" class="form-control" name='rname' id="formGroupExampleInput" placeholder="Enter Room Number">
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2"> Floor Number</label>
                <input type="text" value="{{data.roomfloor}}" class="form-control" name='fname'id="formGroupExampleInput2" placeholder="Enter Floor Number">
            </div>
            <label for="formGroupExampleInput2"> Type of Room</label>
            <div class="input-group mb-3">
                
                <select value="{{data.roomtype}}" name='type'class="custom-select" id="inputGroupSelect02">
                  <option selected>Choose...</option>
                  <option  name='type'>Single Room</option>
                  <option  name='type'>Double Room</option>
                  <option  name='type'>Family Room</option>
                </select>
                <div class="input-group-append">
                  <label class="input-group-text" for="inputGroupSelect02">Select</label>
                </div>
            </div>
              <fieldset class="form-group">
                
                <div class="row">
                  <legend class="col-form-label col-sm-2 pt-0" >Select :</legend>
                    <div class="form-check">
                      <input class="form-check-input"  type="radio"  id="radio"  name="gridRadios" value='Ac Room '>
                      <label class="form-check-label" for="gridRadios1">
                        Ac Room 
                      </label>
                    <div class="form-check">
                        &nbsp &nbsp &nbsp<input class="form-check-input" value='Non-Ac Room' type="radio" id="gridRadios2"  name="gridRadios">
                      <label class="form-check-label" for="gridRadios2">
                        Non-Ac Room
                      </label>
                    </div>
                </div>
              </fieldset>
              <div class="form-group">
                <label for="formGroupExampleInput">Set Price</label>
                <select name='rprice' value="{{data.roomprice}}" class="custom-select" id="inputGroupSelect02">
                  <option selected>Choose...</option>
                  <option  name='rprice'>5000</option>
                  <option  name='rprice' >6000</option>
                  <option  name='rprice' >8000</option>
                  <option  name='rprice' >9000</option>
                </select>
            </div>
            <p class="lead">
                <button type='submit' class="btn btn-outline-warning">Save Room </button>
              </p>
         </form> 
      </div>
  </div>
  <footer class="footer-distributed" style="height: 230px;">

    <div class="footer-left">
        <h3>Motilal <span>Developer</span></h3>

        <p class="footer-links">
            <a href="/index/" >Home</a>
            |
            <a role="button" class="nav-link" data-toggle="modal" href="#exampleModal1" style=" border: none; color: rgba(0, 0, 0, 100);">About</a>
            |
            <a role="button" class="nav-link" data-toggle="modal" href="#exampleModal2" style=" border: none; color: rgba(0, 0, 0, 100);">Contact</a>
            |
            <a role="button" class="nav-link" data-toggle="modal" href="#exampleModal3" style=" border: none; color: rgba(0, 0, 0, 100);">Scope</a>
        </p>

       
    </div>
    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              <strong>
              About This project in details
              </strong>
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>`
          </div>
        
          <div class="modal-body">
            <p>Project is created by Motilal Suthar student of java by kiran 
              institude
              In this project i used Html/bootstrap for page design
              and django for a web frame work with 
              data base sqlite3.<br><br>
              This project is for Hotel manager 
              where manage can maintain the user and Room
              manage can Add/Display/Update/Delete the user and room 
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
           
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              <strong>
              Contact Us 
              </strong>
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>`
          </div>
        
          <div class="modal-body">
            <p> 
              We mention the email in website<br>
              you can send your request on email (motilalsuthar7788@gmail.com)<br>
              <br>
               You can also contact Us <br>
               Reception number : +91 2013510445<br>
               Inquiry Number   : +91 4055123544<br>       
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
           
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              <strong>
              Scope And Limitations
              </strong>
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>`
          </div>
        
          <div class="modal-body">
            <p>
              <B>Scope:-</b>
              The scope of the system is as followed: 
              The system has two user types which is the administrator and user access. The administrator has to all modules, forms and functionality of the system.
              The software to be developed deals with creating a Hotel Management system which will automate the major hotel operations such as generating COD, billing and keeping track of records of daily transaction.Admin have the authority to control and modify the database.<br><br>
              <B>Limitations:-</b>
              
              The user access is limited in terms of forms, modules and functionalities. They are not allowed to change data information such as room types, discount type, and administrator password
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
           
          </div>
        </div>
      </div>
    </div>

    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Maharashtra</span>
                Pune</p>
        </div>

        <div>
            <i class="fa fa-phone"></i>
            <p>+91 878877**60</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="motilalsuthar7788@gmail.com">motilalsuthar7788@gmail.com</a></p>
        </div>
    </div>
    <div class="footer-right">
        <p class="footer-company-about">
            <span>About This Project</span>
            <strong></strong> Project is created by Motilal Suthar student of java by kiran 
            institude
            In this project i used Html/bootstrap for page design
            and django for a web frame work with 
            data base sqlite3.
        </p>
        <div class="footer-icons">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            
        </div>
    </div>
</footer>
    

    
</body>
</html>